<section class="main-dashboar">
  <div class="sidebar">
    <h1>Hola </h1>

    <div class="user-profile">
      <div class="user-info"></div>
      <button id="exit">salir</button>
    </div>
  </div>

  <div class="main-content">
    <div class="header">
      <button class="add-event-btn">ADD NEW EVENT</button>
    </div>

    <div class="events-table">
      <div class="table-header">
        <div></div>
        <div>Name</div>
        <div>Description</div>
        <div>Capacity</div>
        <div>Date</div>
        <div>Action</div>
      </div>

   
    </div>
  </div>

  
</section>
