<header class="landing-header">
  <h1>NubeEvents</h1>
  <div class="login-btn-walcome">
    <button id="btn-walcome">Go home</button>
  </div>
</header>
<section id="register">
  <div class="register-container">
    <h2>create account</h2>

    <form id="register-form">
      <label>full name </label>
      <input type="text" id="name" required />
      <label>email</label>
      <input type="email" id="email" required />
      <label>phone</label>
      <input type="text" id="phone" />

      <label>password</label>
      <input type="password" id="password" required />
      <label>confirm password</label>
      <input type="password" id="confirm-password" required />
      <button type="submit">Register</button>
    </form>
  </div>
</section>
