
    <header class="landing-header">
      <h1> NubeEvents</h1>
      
    </header>

    <main class="landing-main">
      <section class="landing-text">
        <h2>Ingresa a nuestros  eventos online </h2>
        <p>Mantente actualizado con  <strong>NubeEvents</strong>  en tu casa en mas sencillo buscar eventos,
          sin hacer nungun tipo de fila  o esperar nada  </p>
        <div class="landing-cta">
          <button id="btn-login">Ya tengo cuenta</button>
          <button id="btn-register">Quiero registrarme</button>
        </div>
      </section>

      <div class="landing-image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT83HzZdAdN8PIZ0C6SLHpSxG4-vgKdMtHwgQ&s" alt="imagen de eventos " />
      </div>
    </main>

    <footer class="landing-footer">
      <p>&copy; 2025 Nubecurs. Todos los derechos reservados.</p>
    </footer>



